<<<<<<< HEAD

body {
    color: blue;
    background-color: black
}

p {
	text-align: center;
    color: pink;
}

h2 {
    color: rgb(255,0,0);
}


.fifty{
    display: inline-block;
}

.ol{
	display: inline;
=======
body{
	background:pink;

>>>>>>> FETCH_HEAD
}