

body {
    background-color:#9999CC;	
	font-family: 'Lato', sans-serif;
}

p {
	text-align: center;
    color:#3333CC;
    font-family: 'Lato', serif;
    text-align: center;
}

.h1{
	color: green
}

}
.ol{
	display: inline;
}

#pictures{
	text-align: center;
	margin: 0 auto;
}

.pinktext{
	color: red;
}

